/*HOME CSS*/

#banner-container {
	float: left;
	position: relative;
	width: 100%;
	margin-top: 25px;
}

.banner-image {
	width: 100%;
	height: auto;
	background-position: center center;
	vertical-align: middle;
}

.overlaybanner {
	background-color: #33526D;
	opacity: 0.3;
	height: 100%;
	position: absolute;
	width: 100%;
}

#banner-text-container-mobile {
	float: left;
	width: 100%;
	display: none;
}

#banner-text-container-desktop-tablet {
}

.banner-text {
	font-size: 100px;
	position: absolute;
	top: 105px;
	margin-left: 200px;
	color: white;
	font-weight: 100;
	width: 600px;
	line-height: 85px;
}

.h1-bold {
	font-weight: 300;
}

.rightcolwrapper {
	float: left;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	background-color: white;
	padding-left: 3.5%;
	margin-bottom: 40px;
}

.marginleft {
  padding-left: 10px;
  margin-bottom: 0;
}

.marginbottom {
  margin-bottom: 50px;
}

.margintop {
  margin-top: 10px
}

.about-col {
	float: left;
	width: 50%;
	padding: 30px;
	height: auto;
/*	border-right: 4px solid #48C2AC;*/
	box-sizing: border-box;
}

.contact-col {
	float: left;
	width: 50%;
	padding: 5px 30px;
	height: auto;
	box-sizing: border-box;
}

.team-member-container {
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	margin: 10px;
}

.team-member {
	height: 250px;
	width: 250px;
	background-position: center center;
	background-size: cover;
}


#map {
	width: 100%;
	height: 450px;
}

#faqwrapper {
	padding: 30px;
}

.expandable {
	width: 100%;
    position: relative;
    padding: 20px 0;
    margin: 0 0 20px 0;
}

.headline {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	font-weight: 400;
	margin-bottom: 10px;
	width: 100%;
	background-color: white;
}

.expand {
	background-color: #FD6C5C;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0px;
}

.answer {
	display: none;
    padding: 0 0 20px 0;
    margin-top: 50px
}

hr.hr-div {
	color: #FD6C5C;
	border-bottom: 1px solid #FD6C5C;
}

form {
	box-sizing: border-box;
}

input {
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
}

.name {
	margin-top: 40px;
}

.inline-form {
	display: inline-block;
	margin-right: 1%;
	width: 48%;
}

textarea {
	width: 100%;
}

#submit_button {
	background-color: #48C2AC;
	border: none;
	margin-top: 24px;

}



		@media (max-width: 900px) {

			.banner-text {
				font-size: 80px;
				position: absolute;
				top: 105px;
				margin-left: 180px;
				color: white;
				font-weight: 100;
				width: 600px;
				line-height: 70px;
			}
		}

		@media (max-width: 777px) {

			.banner-text {
				font-size: 75px;
				position: absolute;
				top: 105px;
				margin-left: 140px;
				color: white;
				font-weight: 100;
				width: 400px;
				line-height: 65px;
			}
		}

		@media (max-width: 665px) {

			.banner-text {
				font-size: 60px;
				position: absolute;
				top: 105px;
				margin-left: 100px;
				color: white;
				font-weight: 100;
				width: 400px;
				line-height: 55px;
			}

			.about-col {
				width: 100%;
			}

			.contact-col {
				width: 100%;
			}
		}

		@media (max-width: 603px) {

			#banner-text-desktop-tablet {
				display: none;
			}

			#banner-text-container-mobile {
				display: block;
			}

			.banner-text-mobile {
				font-size: 50px;
				color: #33526D;
				font-weight: 100;
				width: 100%;
				line-height: 50px;
				margin: 0;
			}
		}
