.item {
	float: left;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	margin: 30px 15px 0 15px;
	border: 4px solid #FD6C5C;
	padding: 10px;
}

.imagebox {
	height: 250px;
	width: 250px;
	background-position: center center;
	background-size: cover;
}

.imageflip {
	transform: scale(-1, 1);
}

.imagebox:hover {
	cursor: pointer !important;
}

.orangeoverlay {
	background-color: #FD6C5C;
	opacity: 0.95;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: none;
} 

.orangeoverlay h2 {
	color: black;
	margin-top: 38%;
	text-align: center;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
} 

.orangeoverlay p {
	color: black;
	padding: 0;
	text-align: center;
	width: 100%;
	margin-top: 0;
} 

.shoe-name-link {
	color: black !important;
	text-decoration: none;
}

.casual {
	display: none;
}

.classic {
	display: none;
}

.sporty {
	display: none;
}

		@media (max-width: 1051px) {

			.imagebox {
				height: 350px;
				width: 350px;
			}
		}

		@media (max-width: 940px) {
			
			.imagebox {
				height: 250px;
				width: 250px;
			}
		}

		@media (max-width: 735px) {
			
			.imagebox {
				height: 200px;
				width: 200px;
			}
		}


		@media (max-width: 629px) {
			
			.imagebox {
				height: 350px;
				width: 350px;
			}
		}

		@media (max-width: 515px) {
			
			.imagebox {
				height: 250px;
				width: 250px;
			}
		}

		@media (max-width: 420px) {
			
			.imagebox {
				height: 225px;
				width: 225px;
			}
		}